@import './common.scss';

.movie-original{
    margin-bottom: 20px;
    padding-left: $standard-padding;
    h2{
        display: block;
        font-size: 16px;
        width: 100%;
    }   
    &_images{
        display: flex;
        overflow-y: hidden;
        img{
            width: 50%;
            border-radius: 20px;
            padding-right: 10px;
            @include media-up(md){
                width: 25%;
            }
            @include media-up(lg){
                width: 20%;
            }
        }
    }
}